# All the files and folder specified in this file won't be added to the docker build context
# That means that those files won't be able to be used by the dockerfile commands COPY and ADD

# Ignore the following files
.git
.gitignore
README.md
node_modules
dist
documentation
additional-documentation-sources
images
