<!-- m-2 sets margin on 4 sides to $spacer * .5 -->
<div class="m-2" id="configuration-section">

  <!-- Wrap the configurations in a bootstrap card -->
  <div class="card">
    <ul class="list-group list-group-flush">

      <li class="list-group-item" id="configuration-section-text">
        <h4>Formato Texto</h4>

        <!-- Slider with min and max values at it sides -->
        <span class="text-small text-secondary slider-min-value">
          {{topicsTextComponent.NUM_KEYWORDS_MIN_VALUE}}
        </span>
        <mat-slider #sliderNumKeywordsTextFormat
                    [max]="topicsTextComponent.NUM_KEYWORDS_MAX_VALUE"
                    [min]="topicsTextComponent.NUM_KEYWORDS_MIN_VALUE"
                    [value]="topicsTextComponent.numKeywords"
                    color="primary" thumbLabel>
        </mat-slider>
        <span class="text-small text-secondary slider-max-value">
          {{topicsTextComponent.NUM_KEYWORDS_MAX_VALUE}}
        </span>
        <p class="slider-footer">Número de keywords</p>
      </li>

      <li class="list-group-item" id="configuration-section-wordcloud">
        <h4>Formato Nube de palabras</h4>

        <!-- Slider with min and max values at it sides -->
        <span class="text-small text-secondary slider-min-value">
          {{topicsWordcloudComponent.NUM_KEYWORDS_MIN_VALUE}}
        </span>
        <mat-slider #sliderNumKeywordsWordcloudFormat
                    [max]="topicsWordcloudComponent.NUM_KEYWORDS_MAX_VALUE"
                    [min]="topicsWordcloudComponent.NUM_KEYWORDS_MIN_VALUE"
                    [value]="topicsWordcloudComponent.numKeywords"
                    color="primary" thumbLabel>
        </mat-slider>
        <span class="text-small text-secondary slider-max-value">
          {{topicsWordcloudComponent.NUM_KEYWORDS_MAX_VALUE}}
        </span>
        <p class="slider-footer">Número de keywords</p>
      </li>

      <li class="list-group-item" id="configuration-section-topic-documents">
        <h4>Documentos más representativos</h4>

        <!-- Slider with min and max values at it sides -->
        <span class="text-small text-secondary slider-min-value">
          {{topicDocumentsCardComponent.NUM_DOCUMENTS_MIN_VALUE}}
        </span>
        <mat-slider #sliderNumTopicDocuments
                    [max]="topicDocumentsCardComponent.NUM_DOCUMENTS_MAX_VALUE"
                    [min]="topicDocumentsCardComponent.NUM_DOCUMENTS_MIN_VALUE"
                    [value]="topicDocumentsCardComponent.numDocuments"
                    color="primary" thumbLabel>
        </mat-slider>
        <span class="text-small text-secondary slider-max-value">
          {{topicDocumentsCardComponent.NUM_DOCUMENTS_MAX_VALUE}}
        </span>
        <p class="slider-footer">Número de documentos</p>
      </li>

      <li class="list-group-item">
        <!-- Button to confirm all changes -->
        <button (click)="updateVariablesAndRefreshTopics(sliderNumKeywordsTextFormat.value,
                                                         sliderNumKeywordsWordcloudFormat.value,
                                                         sliderNumTopicDocuments.value)" color="primary"
                mat-raised-button>
          Actualizar
        </button>
      </li>

    </ul>
  </div>

</div>
