<!-- If the wordcloud images are loading, show a progress spinner -->
<div *ngIf="wordcloudImagesLoading; else wordcloudImagesLoaded">
  <mat-spinner color="primary"></mat-spinner>
</div>

<!-- If the wordcloud images have been loaded, show them -->
<ng-template #wordcloudImagesLoaded>
  <!-- If the wordcloud images have been loaded, show them -->
  <!-- m-2 sets margin on 4 sides to $spacer * .5 -->
  <div class="m-2" id="topics-wordcloud-format">
    <div class="row">

      <!--
        * In extra large screens, each wordcloud has width 3/12, so there are 4 wordclouds per row.
        * In medium and large screens, each wordcloud has width 4/12, so there are 3 wordclouds per row.
        * In small screens, each wordcloud has width 6/12, so there are 2 wordclouds per row.
        * In extra small screens, each wordcloud has width 12/12, so there is only 1 wordcloud per row.
      -->
      <div *ngFor="let topicImageUrl of topicImageUrls" class="col-xl-3 col-md-4 col-sm-6 col-12">
        <div class="card">

          <img [src]="topicImageUrl.image_url" alt="Topic{{topicImageUrl.topic}} wordcloud image"
               class="topic-wordcloud-image">

          <div class="card-body">
            <!-- If the topic documents are loading, the button is disabled -->
            <button (click)="getTopicDocuments(topicImageUrl.topic)"
                    [disabled]="topicDocumentsCardComponent.topicDocumentsLoading"
                    class="topic-wordcloud-image-footer-button btn btn-outline-secondary btn-sm align">
              Documentos más representativos
            </button>
          </div>

        </div>
      </div>

    </div>
  </div>
</ng-template>
