/* Extra small devices (portrait phones, less than 576px) */
.tab-label-text {
  /* Don't show the text of the tab, only show the icon */
  display: none;
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .tab-label-text {
    display: inherit;
    margin-bottom: 0;
    font-size: 165%;
  }
}
