<h2>{{SECTION_NAME}}</h2>

<div class="card">
  <mat-tab-group color="primary" dynamicHeight mat-stretch-tabs>

    <!-- Tab 1 -->
    <mat-tab>
      <!-- Mat tab header content -->
      <ng-template mat-tab-label>
        <h3 class="tab-label-text">Texto</h3>
        <mat-icon class="tab-icon">text_format</mat-icon>
      </ng-template>

      <!-- Mat tab content -->
      <!-- Topics in text format -->
      <app-topics-text #topicsTextComponent
                       (topicdocuments)="getTopicDocuments($event)"
                       [topicDocumentsCardComponent]="topicDocumentsCardComponent">
      </app-topics-text>
    </mat-tab>

    <!-- Tab 2 -->
    <mat-tab>
      <!-- Mat tab header content -->
      <ng-template mat-tab-label>
        <h3 class="tab-label-text">Nube de palabras</h3>
        <mat-icon class="tab-icon">cloud</mat-icon>
      </ng-template>

      <!-- Mat tab content -->
      <!-- Topics in wordcloud format -->
      <app-topics-wordcloud #topicsWordcloudComponent
                            (topicdocuments)="getTopicDocuments($event)"
                            [topicDocumentsCardComponent]="topicDocumentsCardComponent">
      </app-topics-wordcloud>
    </mat-tab>

    <!-- Tab 3 -->
    <mat-tab>
      <!-- Mat tab header content -->
      <ng-template mat-tab-label>
        <h3 class="tab-label-text">Configuración</h3>
        <mat-icon class="tab-icon">settings</mat-icon>
      </ng-template>

      <!-- Mat tab content -->
      <!-- Topics configuration -->
      <app-topics-configuration [topicsTextComponent]="topicsTextComponent"
                                [topicDocumentsCardComponent]="topicDocumentsCardComponent"
                                [topicsWordcloudComponent]="topicsWordcloudComponent">
      </app-topics-configuration>
    </mat-tab>

  </mat-tab-group>
</div>

<app-topic-documents-card></app-topic-documents-card>
