<!-- If the related documents are loading or have been loaded, show a card -->
<div *ngIf="relatedDocumentsLoading || relatedDocuments" class="card">

  <h3 class="card-header">
    <div class="row">

      <div class="col-10 card-header-text">
        Documentos más similares al texto
      </div>

      <div class="col-2 card-header-close-button">
        <!-- Button to close the card -->
        <button (click)="closeCard()" aria-label="Close" class="close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

    </div>
  </h3>


  <div class="card-body">

    <!-- If the related documents are loading, show a progress spinner and scroll the page to it -->
    <div *ngIf="relatedDocumentsLoading; else relatedDocumentsLoaded" appScroll>
      <mat-spinner color="primary"></mat-spinner>
    </div>

    <!-- If the related documents have been loaded, show them -->
    <ng-template #relatedDocumentsLoaded>
      <!-- With multi, more than one panel can be opened at the same time -->
      <mat-accordion multi>
        <mat-expansion-panel *ngFor="let relatedDoc of relatedDocuments">

          <mat-expansion-panel-header>
            <div class="row mat-panel-header-row">

              <div class="col-md-9 col-12 mat-panel-title-div">
                <mat-panel-title>
                  {{relatedDoc.doc_content_summary | slice:0:SUMMARY_MAX_LENGTH}}
                  {{relatedDoc.doc_content_summary.length > SUMMARY_MAX_LENGTH ? '...' : ''}}
                </mat-panel-title>
              </div>

              <div class="col-md-3 col-12 mat-panel-description-div">
                <mat-panel-description>
                  <span>Topic: {{relatedDoc.doc_topic}}</span>
                  &nbsp;&nbsp;
                  <span>Probabilidad: {{relatedDoc.doc_text_prob | percent:'1.2'}}</span>
                </mat-panel-description>
              </div>

            </div>
          </mat-expansion-panel-header>

          <!-- Expansion panel content -->
          <pre>{{relatedDoc.doc_content}}</pre>

        </mat-expansion-panel>
      </mat-accordion>
    </ng-template>

  </div>

</div>
