<h2>{{sectionName}}</h2>

<!-- TODO: This grid isn't adaptable! In a mobile phone, the textarea should be displayed above the options -->
<mat-grid-list cols="2" rowHeight="85%">
  <!-- Textarea at the left -->
  <mat-grid-tile>
    <form>
      <mat-form-field appearance="outline" id="text-textarea-form-field">
        <textarea #textArea matInput placeholder="Introduce un texto" rows="{{textAreaNumRows}}"></textarea>
        <!-- TODO: <mat-error *ngIf="textEmpty">Debes introducir un texto</mat-error> -->
        <mat-hint>Texto que será utilizado por las opciones a su derecha</mat-hint>
      </mat-form-field>
    </form>
  </mat-grid-tile>
  <!-- Options at the right -->
  <mat-grid-tile>
    <mat-accordion>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>Topics relacionados</mat-panel-title>
        </mat-expansion-panel-header>
        <!-- Related topics options -->
        <div class="text-option" id="related-topics-options">
          <mat-slider #sliderMaxNumTopics [value]="initialMaxNumTopics" color="primary"
                      [max]="maxNumTopics" min="1" thumbLabel></mat-slider>
          <p class="slider-footer">Número máx. de topics devueltos</p>

          <!-- TODO: Add checkbox "Show visualization" and implement that behaviour -->

          <button (click)="getRelatedTopics(textArea.value, sliderMaxNumTopics.value)" color="primary"
                  mat-raised-button>
            Obtener
          </button>
        </div>
      </mat-expansion-panel>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>Documentos similares</mat-panel-title>
        </mat-expansion-panel-header>
        <div class="text-option" id="related-documents-options">
          <!-- TODO: Content here -->
        </div>
      </mat-expansion-panel>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>Resumir texto</mat-panel-title>
        </mat-expansion-panel-header>
        <div class="text-option" id="text-summary-options">
          <!-- TODO: Content here -->
        </div>
      </mat-expansion-panel>
    </mat-accordion>
  </mat-grid-tile>
</mat-grid-list>

<!-- TODO: If the X button is pressed, relatedTopics = null -->
<!-- TODO: Show a mat-progress-spinner when loading the related topics -->
<div *ngIf="relatedTopics">
  <table>
    <tr>
      <th>Núm. topic</th>
      <th>Probabilidad</th>
    </tr>
    <tr *ngFor="let textTopicProb of relatedTopics">
      <td>{{textTopicProb.topic}}</td>
      <td>{{textTopicProb.text_topic_prob | percent:'1.6'}}</td>
    </tr>
  </table>
</div>
