#text-textarea-form-field {
  width: 100%;
}

#text-textarea-form-field textarea {
  resize: none;
}

mat-slider {
  width: 80%;
}

.text-option {
  text-align: center;
}

table {
  width: 100%;
  text-align: center;
}

#text-options {
  margin-bottom: 3%;
}

textarea.is-dragover {
  /* Dashed outline */
  outline: 3px dashed #6c757d;
  outline-offset: 3px;

  /* Drop down arrow image */
  background-image: url("~src/assets/drop-down-arrow-image.png");
  background-repeat: no-repeat;
  background-position: center;
}
