#text-textarea-form-field {
  width: 100%;
}

#text-textarea-form-field textarea {
  resize: none;
}

mat-accordion {
  width: 98%;
}

form {
  width: 98%;
}

mat-slider {
  width: 80%;
}

.text-option {
  text-align: center;
}
