#text-textarea-form-field {
  width: 100%;
}

#text-textarea-form-field textarea {
  resize: none;
}

mat-slider {
  width: 80%;
}

.text-option {
  text-align: center;
}

/* TODO: Remove when table style of Angular Material or Bootstrap is used */
table {
  width: 50%;
  text-align: center;
}

table, th, td {
  border: 1px solid grey;
  border-collapse: collapse;
  padding: 5px;
}

table tr:nth-child(odd) {
  background-color: #f1f1f1;
}

table tr:nth-child(even) {
  background-color: #ffffff;
}
