<h2>{{sectionName}}</h2>

<div class="row">
  <!-- Textarea at the left in medium screen size or above, and up in small and extra small screen size  -->
  <div class="col-md">
    <app-textarea #textareaComponent></app-textarea>
  </div>
  <!-- Options at the right in medium screen size or above, and down in small and extra small screen size  -->
  <div class="col-md" id="text-options">
    <!-- TODO: Uncomment when TextOptionsComponent is created:
          <app-text-options [textareaComponent]="textareaComponent"></app-text-options> -->
    <mat-accordion>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>Topics relacionados</mat-panel-title>
        </mat-expansion-panel-header>
        <!-- Related topics options -->
        <div class="text-option" id="related-topics-options">
          <!-- Slider with min and max values at it sides -->
          <span class="text-small text-secondary slider-min-value">{{maxNumTopicsMinValue}}</span>
          <mat-slider #sliderMaxNumTopics [max]="maxNumTopicsMaxValue" [min]="maxNumTopicsMinValue"
                      [value]="maxNumTopics" color="primary" thumbLabel></mat-slider>
          <span class="text-small text-secondary slider-max-value">{{maxNumTopicsMaxValue}}</span>
          <p class="slider-footer">Número máx. de topics devueltos</p>

          <!-- TODO: Add checkbox "Show visualization" and implement that behaviour -->

          <button (click)="getRelatedTopics(textareaComponent.getValue(), sliderMaxNumTopics.value)"
                  [disabled]="relatedTopicsCardComponent.relatedTopicsLoading"
                  color="primary" mat-raised-button>
            Obtener
          </button>
        </div>
      </mat-expansion-panel>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>Documentos similares</mat-panel-title>
        </mat-expansion-panel-header>
        <!-- Related documents options -->
        <div class="text-option" id="related-documents-options">
          <!-- Slider with min and max values at it sides -->
          <span class="text-small text-secondary slider-min-value">{{numDocumentsMinValue}}</span>
          <mat-slider #sliderNumDocuments [max]="numDocumentsMaxValue" [min]="numDocumentsMinValue"
                      [value]="numDocuments" color="primary" thumbLabel></mat-slider>
          <span class="text-small text-secondary slider-max-value">{{numDocumentsMaxValue}}</span>
          <p class="slider-footer">Número de documentos devueltos</p>

          <button (click)="getRelatedDocuments(textareaComponent.getValue(), sliderNumDocuments.value)"
                  [disabled]="relatedDocumentsLoading" color="primary"
                  mat-raised-button>
            Obtener
          </button>
        </div>
      </mat-expansion-panel>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>Resumir texto</mat-panel-title>
        </mat-expansion-panel-header>
        <!-- Text summary options -->
        <div class="text-option" id="text-summary-options">
          <!-- TODO: Content here -->
          <div>
            <mat-form-field appearance="fill">
              <mat-label>Número de frases</mat-label>
              <input #inputNumSummarySentences [formControl]="numSummarySentencesFormControl"
                     matInput min="1" step="1" type="number">
              <mat-error
                *ngIf="numSummarySentencesFormControl.invalid">{{getNumSummarySentencesErrorMessage()}}</mat-error>
              <mat-icon matSuffix>notes</mat-icon>
            </mat-form-field>
          </div>

          <!-- Only get the text summary if the numSummarySentences value is valid and the text is not empty -->
          <button (click)="numSummarySentencesFormControl.valid
                           && getTextSummary(textareaComponent.getValue(), +inputNumSummarySentences.value)"
                  [disabled]="textSummaryLoading"
                  color="primary" mat-raised-button>
            Obtener
          </button>
        </div>
      </mat-expansion-panel>
    </mat-accordion>
  </div>
</div>

<app-related-topics-card></app-related-topics-card>

<!-- If the related documents are loading or have been loaded, show a card -->
<div *ngIf="relatedDocumentsLoading || relatedDocuments" class="card">

  <h3 class="card-header">
    Documentos más similares al texto
    <!-- Button to close the card -->
    <button (click)="closeRelatedDocumentsCard()" aria-label="Close" class="close">
      <span aria-hidden="true">&times;</span>
    </button>
  </h3>

  <div class="card-body">
    <!-- If the related documents are loading, show a progress spinner and scroll the page to it -->
    <div *ngIf="relatedDocumentsLoading; else relatedDocumentsLoaded" appScroll>
      <mat-spinner color="primary"></mat-spinner>
    </div>

    <!-- If the related documents have been loaded, show them -->
    <ng-template #relatedDocumentsLoaded>
      <!-- With multi, more than one panel can be opened at the same time -->
      <mat-accordion multi>
        <mat-expansion-panel *ngFor="let relatedDoc of relatedDocuments">
          <mat-expansion-panel-header>
            <mat-panel-title>
              {{relatedDoc.doc_content_summary | slice:0:RELATED_DOCUMENT_SUMMARY_MAX_LENGTH}}
              {{relatedDoc.doc_content_summary.length > RELATED_DOCUMENT_SUMMARY_MAX_LENGTH ? '...' : ''}}
            </mat-panel-title>
            <mat-panel-description>
              <span>Topic: {{relatedDoc.doc_topic}}</span>
              &nbsp;&nbsp;
              <span>Probabilidad: {{relatedDoc.doc_text_prob | percent:'1.2'}}</span>
            </mat-panel-description>
          </mat-expansion-panel-header>
          <pre>
            {{relatedDoc.doc_content}}
          </pre>
        </mat-expansion-panel>
      </mat-accordion>
    </ng-template>
  </div>

</div>

<!-- If the text summary is loading or has been loaded, show a card -->
<div *ngIf="textSummaryLoading || textSummary">
  <ngb-alert (close)="summaryAlertClosed=true" *ngIf="!summaryAlertClosed" type="warning">
    El algoritmo PageRank utilizado para generar el resumen no ha convergido con el texto dado,
    por lo que no se ha podido generar el resumen utilizando dicho algoritmo.<br>
    En su lugar, el resumen devuelto está compuesto por las {{summaryAlertNumSentences}} primeras frases del texto.
  </ngb-alert>

  <div class="card">

    <h3 class="card-header">
      Texto resumido
      <!-- Button to close the card -->
      <button (click)="closeTextSummaryCard()" aria-label="Close" class="close">
        <span aria-hidden="true">&times;</span>
      </button>
    </h3>

    <div class="card-body">
      <!-- If the text summary is loading, show a progress spinner and scroll the page to it -->
      <div *ngIf="textSummaryLoading; else textSummaryLoaded" appScroll>
        <mat-spinner color="primary"></mat-spinner>
      </div>

      <!-- If the text summary has been loaded, show them -->
      <ng-template #textSummaryLoaded>
        <pre class="card-text">{{textSummary.text_summary}}</pre>
      </ng-template>
    </div>

  </div>
</div>
