<!-- If the topics documents are loading or have been loaded, show a card -->
<div *ngIf="topicDocumentsLoading || topicDocuments" class="card">

  <h3 class="card-header">
    <div class="row">

      <div class="col-10 card-header-text">
        Documentos más representativos del topic {{selectedTopicId}}
      </div>

      <div class="col-2 card-header-close-button">
        <!-- Button to close the card -->
        <button (click)="closeCard()" aria-label="Close" class="close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

    </div>
  </h3>


  <div class="card-body">

    <!-- If the topic documents are loading, show a progress spinner and scroll the page to it -->
    <div *ngIf="topicDocumentsLoading; else topicDocumentsLoaded" appScroll>
      <mat-spinner color="primary"></mat-spinner>
    </div>

    <!-- If the topic documents have been loaded, show them -->
    <ng-template #topicDocumentsLoaded>
      <!-- With multi, more than one panel can be opened at the same time -->
      <mat-accordion multi>
        <mat-expansion-panel *ngFor="let topicDocument of topicDocuments">

          <mat-expansion-panel-header>
            <mat-panel-title>
              {{topicDocument.doc_content_summary | slice:0:SUMMARY_MAX_LENGTH}}
              {{topicDocument.doc_content_summary.length > SUMMARY_MAX_LENGTH ? '...' : ''}}
            </mat-panel-title>
            <mat-panel-description>
              Probabilidad: {{topicDocument.doc_topic_prob | percent:'1.2'}}
            </mat-panel-description>
          </mat-expansion-panel-header>

          <!-- Expansion panel content -->
          <pre>{{topicDocument.doc_content}}</pre>

        </mat-expansion-panel>
      </mat-accordion>
    </ng-template>

  </div>

</div>
