/* Import Angular Material CSS */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
/* Import Bootstrap CSS */
/* TODO: This line shouldn't be needed if bootstrap.min.css is specified in the styles array of angular.json file */
@import "~bootstrap/dist/css/bootstrap.min.css";
/* Import Bootstrap grid */
@import "~bootstrap/dist/css/bootstrap-grid.min.css";

/* You can add global styles to this file, and also import other style files */
/* Application-wide Styles */
h1 {
  color: #369;
  font-family: Georgia, serif;
  font-size: 250%;
  text-align: center;
}

h2 {
  color: #444;
  font-size: 200%;
  margin: 20px 0px;
}

h3 {
  color: #444;
  font-size: 125%;
}

html, body {
  height: 100%;
}

body {
  font-family: Roboto, "Helvetica Neue", sans-serif;
  margin: 2em;
}


/** Styles for Angular Material Icons **/
/* Rules for sizing the icon. */
.material-icons.md-18 {
  font-size: 18px;
}

.material-icons.md-24 {
  font-size: 24px;
}

.material-icons.md-36 {
  font-size: 36px;
}

.material-icons.md-48 {
  font-size: 48px;
}

/* Rules for using icons as black on a light background. */
.material-icons.md-dark {
  color: rgba(0, 0, 0, 0.54);
}

.material-icons.md-dark.md-inactive {
  color: rgba(0, 0, 0, 0.26);
}

/* Rules for using icons as white on a dark background. */
.material-icons.md-light {
  color: rgba(255, 255, 255, 1);
}

.material-icons.md-light.md-inactive {
  color: rgba(255, 255, 255, 0.3);
}

/* Text below the slider doesn't have top margin */
.slider-footer {
  margin-top: 0px;
}

/* Angular Material expansion panel header fits the text height, but with a min height of 48px */
mat-expansion-panel-header {
  min-height: 48px;
  height: 100% !important;
}

/* Right align the description of the Angular Material expansion panel header */
.mat-expansion-panel-header-description {
  display: flex;
  justify-content: flex-end;
}

/* Tab icons have a margin of 8px at the left */
.tab-icon {
  margin-left: 8px;
}

/* TODO: Try to find a more elegant solution. This specifies values for the different browsers */
/* Wrap lines in <pre> tags that are larger than the screen width */
pre {
  overflow-x: auto;
  white-space: pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -o-pre-wrap;
  word-wrap: break-word;
}
