/* You can add global styles to this file, and also import other style files */

/* Note: Other CSS style files are imported in the styles array of the angular.json file */

/* Application-wide Styles */

/* Extra small devices (portrait phones, less than 576px) */
h2 {
  font-size: 7vw;
  color: #444;
  margin: 4% 0;
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
  h2 {
    font-size: 250%;
    margin: 20px 0;
  }
}

h3 {
  font-size: 125%;
  color: #444;
}

html, body {
  height: 100%;
}

body {
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

/** Styles for Angular Material Icons **/
/* Rules for sizing the icon. */
.material-icons.md-18 {
  font-size: 18px;
}

.material-icons.md-24 {
  font-size: 24px;
}

.material-icons.md-36 {
  font-size: 36px;
}

.material-icons.md-48 {
  font-size: 48px;
}

/* Rules for using icons as black on a light background. */
.material-icons.md-dark {
  color: rgba(0, 0, 0, 0.54);
}

.material-icons.md-dark.md-inactive {
  color: rgba(0, 0, 0, 0.26);
}

/* Rules for using icons as white on a dark background. */
.material-icons.md-light {
  color: rgba(255, 255, 255, 1);
}

.material-icons.md-light.md-inactive {
  color: rgba(255, 255, 255, 0.3);
}

/* Text below the slider doesn't have top margin */
.slider-footer {
  margin-top: 0px;
}

/* Angular Material expansion panel header fits the text height, but with a min height of 48px */
mat-expansion-panel-header {
  min-height: 48px;
  height: 100% !important;
}

/* Right align the description of the Angular Material expansion panel header */
.mat-expansion-panel-header-description {
  display: flex;
  justify-content: flex-end;
}

/* Tab icons have a margin of 8px at the left */
.tab-icon {
  margin-left: 8px;
}

/* TODO: Try to find a more elegant solution. This specifies values for the different browsers */
/* Wrap lines in <pre> tags that are larger than the screen width */
pre {
  overflow-x: auto;
  white-space: pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -o-pre-wrap;
  word-wrap: break-word;

  font-family: Roboto, "Helvetica Neue", sans-serif;
  font-size: 100%;
}

/* Add a margin at the top of Bootstrap cards to avoid collisions with other components */
.card {
  margin-top: 1%;
}

/* Extra small devices (portrait phones, less than 576px) */
.slider-min-value {
  margin-right: 0;
}

.slider-max-value {
  margin-left: 0;
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
  /* The min and max values at both sides of a slider are separated of it by 5px */
  .slider-min-value {
    margin-right: 5px;
  }

  .slider-max-value {
    margin-left: 5px;
  }
}

/* Horizontal center Angular Material Progress Spinner */
mat-spinner {
  margin: 0 auto;
}

/* TODO: This should be included in histogram.component.css, but it doesn't work! */
/* Override bar styles on bar charts. */
.ct-series-a .ct-bar {
  /* Color of bars */
  stroke: #0502d7;
  /* Width of bars */
  stroke-width: 5%;
}

/* Expansion panel header has a different color when it's expanded */
mat-expansion-panel-header.mat-expanded, mat-expansion-panel-header.mat-expanded:focus {
  background-color: rgba(0, 0, 0, .05) !important;
}

mat-expansion-panel-header.mat-expanded:hover {
  background-color: white !important;
}

.mat-expansion-panel-body {
  margin-top: 10px;
}

/* Styles for the error snackbar panel */
.error-snackbar-panel {
  color: #721c24;
  background-color: #f8d7da;
  border-color: #f5c6cb;
}
