<mat-accordion>

  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>Topics relacionados</mat-panel-title>
    </mat-expansion-panel-header>

    <!-- Related topics options -->
    <!-- Forward the sibling components of TextOptionsComponent to this child component using @Input() -->
    <app-text-option-related-topics [relatedTopicsCardComponent]="relatedTopicsCardComponent"
                                    [relatedDocumentsCardComponent]="relatedDocumentsCardComponent"
                                    [textareaComponent]="textareaComponent">
    </app-text-option-related-topics>
  </mat-expansion-panel>


  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>Documentos similares</mat-panel-title>
    </mat-expansion-panel-header>

    <!-- Related documents options -->
    <!-- Forward the sibling components of TextOptionsComponent to this child component using @Input() -->
    <app-text-option-related-documents [relatedDocumentsCardComponent]="relatedDocumentsCardComponent"
                                       [relatedTopicsCardComponent]="relatedTopicsCardComponent"
                                       [textareaComponent]="textareaComponent">
    </app-text-option-related-documents>
  </mat-expansion-panel>


  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>Resumir texto</mat-panel-title>
    </mat-expansion-panel-header>

    <!-- Text summary options -->
    <!-- Forward the sibling components of TextOptionsComponent to this child component using @Input() -->
    <app-text-option-text-summary [textSummaryCardComponent]="textSummaryCardComponent"
                                  [textareaComponent]="textareaComponent">
    </app-text-option-text-summary>
  </mat-expansion-panel>

</mat-accordion>
