.topic-wordcloud-image {
  width: 100%;
}

.topic-wordcloud-image-footer-button {
  width: 100%;
}

.tab-label-text {
  margin-bottom: 0;
}

#wordcloud-images-progress-spinner {
  margin-top: 15px;
  margin-bottom: 20px;
}
