mat-slider {
  /* TODO: Modify this to don't use absolute width */
  width: 300px;
}

.topic-wordcloud-image {
  width: 100%;
}

/* Elements whose id begins with document-icon-topic */
[id^='document-icon-topic'] {
  cursor: pointer;
}

.topic-wordcloud-image-footer-button {
  width: 100%;
  height: 100%;
  /* TODO: Modify font size and button height to adjust to the screen size */
}

#configuration-section {
  text-align: center;
}

table {
  text-align: center;
}
