mat-slider {
  /* TODO: Modify this to don't use absolute width */
  width: 300px;
}

.topic-wordcloud-image {
  width: 100%;
}

/* Elements whose id begins with document-icon-topic */
[id^='document-icon-topic'] {
  cursor: pointer;
}

.topic-wordcloud-image-footer-button {
  width: 100%;
}

#configuration-section {
  text-align: center;
}

table {
  text-align: center;
}

table td, table th {
  vertical-align: middle;
}
