<h2>{{sectionName}}</h2>

<div class="card">
  <mat-tab-group color="primary" dynamicHeight mat-stretch-tabs>
    <!-- Tab 1 -->
    <mat-tab>
      <!-- Mat tab header content -->
      <ng-template mat-tab-label>
        <!-- TODO: In small screen sizes, remove the text of the tab and show only the icon -->
        <h3 class="tab-label-text">Texto</h3>
        <mat-icon class="tab-icon">text_format</mat-icon>
      </ng-template>
      <!-- Mat tab content -->
      <!-- TODO: Move this div to the HTML of another Component -->
      <!-- m-2 sets margin on 4 sides to $spacer * .5 -->
      <div class="m-2" id="topics-text-format">
        <table class="table table-striped table-hover table-sm">
          <thead class="thead-light">
          <tr>
            <th scope="col">Núm. topic</th>
            <th scope="col">Keywords</th>
            <th scope="col"></th>
          </tr>
          </thead>

          <tr *ngFor="let topic of topics">
            <th scope="row">{{topic.topic}}</th>
            <td>
              <span *ngFor="let keyword of topic.keywords">
                <span class="font-weight-bold">{{keyword.name}}</span>: {{keyword.probability | percent:'1.2'}}
              </span>
            </td>
            <td>
              <!-- TODO: Wrapp the icon in a button tag -->
              <!-- TODO: Change the i by <mat-icon> and remove the class attribute. The tooltip must be moved to the button. -->
              <!-- Document icon -->
              <!-- When the mouse hovers the document icon, a tooltip explains how to use it -->
              <i #documentTooltip="matTooltip" (click)="getTopicDocuments(topic.topic)"
                 (mouseenter)="documentTooltip.show()"
                 (mouseleave)="documentTooltip.hide()"
                 class="material-icons"
                 id="document-icon-topic{{topic.topic}}"
                 matTooltip="Click to show the most representative documents of topic {{topic.topic}}"
                 matTooltipPosition="left">description
              </i>
            </td>
            <!-- TODO: When clicked, the page should move the user to the place where the documents will appear -->
          </tr>
        </table>
      </div>
    </mat-tab>

    <!-- Tab 2 -->
    <mat-tab>
      <!-- Mat tab header content -->
      <ng-template mat-tab-label>
        <h3 class="tab-label-text">Nube de palabras</h3>
        <mat-icon class="tab-icon">cloud</mat-icon>
      </ng-template>
      <!-- Mat tab content -->
      <!-- TODO: Don't show the images when they are loading -->
      <!-- TODO: Move this div to the HTML of another Component -->
      <!-- m-2 sets margin on 4 sides to $spacer * .5 -->
      <div class="m-2" id="topics-wordcloud-format">
        <div class="row">
          <!--
            * In extra large screens, each wordcloud has width 3/12, so there are 4 wordclouds per row.
            * In medium and large screens, each wordcloud has width 4/12, so there are 3 wordclouds per row.
            * In small screens, each wordcloud has width 6/12, so there are 2 wordclouds per row.
            * In extra small screens, each wordcloud has width 12/12, so there is only 1 wordcloud per row.
          -->
          <div *ngFor="let topicImageUrl of topicImageUrls" class="col-xl-3 col-md-4 col-sm-6 col-12">
            <div class="card">
              <img [src]="topicImageUrl.image_url" alt="Topic{{topicImageUrl.topic}} wordcloud image"
                   class="topic-wordcloud-image">
              <div class="card-body">
                <button (click)="getTopicDocuments(topicImageUrl.topic)"
                        class="topic-wordcloud-image-footer-button btn btn-outline-secondary btn-sm align">
                  Documentos más representativos
                </button>
              </div>
            </div>

          </div>
        </div>
      </div>
    </mat-tab>

    <!--
      TODO: Implement this with modals: https://ng-bootstrap.github.io/#/components/modal/examples
       or https://ng.ant.design/components/modal/en
    -->
    <!-- Tab 3 -->
    <mat-tab>
      <!-- TODO: Try to decrease this tab header width -->
      <!-- Mat tab header content -->
      <ng-template mat-tab-label>
        <h3 class="tab-label-text">Configuración</h3>
        <mat-icon class="tab-icon">settings</mat-icon>
      </ng-template>
      <!-- Mat tab content -->
      <!-- m-2 sets margin on 4 sides to $spacer * .5 -->
      <div class="m-2" id="configuration-section">
        <div id="configuration-section-text">
          <h4>Formato Texto</h4>

          <!-- Slider with min and max values at it sides -->
          <span class="text-small text-secondary slider-min-value">{{numKeywordsTextFormatMinValue}}</span>
          <mat-slider #sliderNumKeywordsTextFormat [value]="numKeywordsTextFormat" color="primary"
                      [max]="numKeywordsTextFormatMaxValue" [min]="numKeywordsTextFormatMinValue"
                      thumbLabel></mat-slider>
          <span class="text-small text-secondary slider-max-value">{{numKeywordsTextFormatMaxValue}}</span>
          <p class="slider-footer">Número de keywords</p>
        </div>

        <mat-divider></mat-divider>

        <div id="configuration-section-wordcloud">
          <h4>Formato Nube de palabras</h4>

          <!-- Slider with min and max values at it sides -->
          <span class="text-small text-secondary slider-min-value">{{numKeywordsWordcloudFormatMinValue}}</span>
          <mat-slider #sliderNumKeywordsWordcloudFormat [value]="numKeywordsWordcloudFormat" color="primary"
                      [max]="numKeywordsWordcloudFormatMaxValue" [min]="numKeywordsWordcloudFormatMinValue"
                      thumbLabel></mat-slider>
          <span class="text-small text-secondary slider-max-value">{{numKeywordsWordcloudFormatMaxValue}}</span>
          <p class="slider-footer">Número de keywords</p>
        </div>

        <mat-divider></mat-divider>

        <div id="configuration-section-topic-documents">
          <h4>Documentos más representativos</h4>

          <!-- Slider with min and max values at it sides -->
          <span class="text-small text-secondary slider-min-value">{{numTopicDocumentsMinValue}}</span>
          <mat-slider #sliderNumTopicDocuments [value]="numTopicDocuments" color="primary"
                      [max]="numTopicDocumentsMaxValue" [min]="numTopicDocumentsMinValue" thumbLabel></mat-slider>
          <span class="text-small text-secondary slider-max-value">{{numTopicDocumentsMaxValue}}</span>
          <p class="slider-footer">Número de documentos</p>
        </div>

        <mat-divider></mat-divider>

        <button (click)="updateVariablesAndRefreshTopics(sliderNumKeywordsTextFormat.value,
                                                       sliderNumKeywordsWordcloudFormat.value,
                                                       sliderNumTopicDocuments.value)" color="primary"
                mat-raised-button>
          Actualizar
        </button>
      </div>
    </mat-tab>
  </mat-tab-group>
</div>

<!-- TODO: Show a mat-progress-spinner when loading the documents -->
<div *ngIf="topicDocuments" class="card">
  <h3 class="card-header">
    Documentos más representativos del topic {{selectedTopicId}}
    <!-- Button to close the card -->
    <button (click)="topicDocuments=null" aria-label="Close" class="close">
      <span aria-hidden="true">&times;</span>
    </button>
  </h3>

  <div class="card-body">
    <!-- With multi, more than one panel can be opened at the same time -->
    <mat-accordion multi>
      <mat-expansion-panel *ngFor="let topicDocument of topicDocuments">
        <mat-expansion-panel-header>
          <mat-panel-title>
            {{topicDocument.doc_content_summary | slice:0:topicDocumentSummaryMaxLength}}
            {{topicDocument.doc_content_summary.length > topicDocumentSummaryMaxLength ? '...' : ''}}
          </mat-panel-title>
          <mat-panel-description>
            Probabilidad: {{topicDocument.doc_topic_prob | percent:'1.2'}}
          </mat-panel-description>
        </mat-expansion-panel-header>
        <pre>
            {{topicDocument.doc_content}}
          </pre>
      </mat-expansion-panel>
    </mat-accordion>
  </div>
</div>

<!-- TODO: Implement error messages with Boostrap alerts: https://getbootstrap.com/docs/4.3/components/alerts/ -->
