<h2>{{sectionName}}</h2>

<!-- TODO: Change backgroundColor -->
<mat-tab-group color="primary" dynamicHeight mat-stretch-tabs>
  <!-- Tab 1 -->
  <mat-tab>
    <!-- Mat tab header content -->
    <ng-template mat-tab-label>
      <h3>Texto</h3>
      <mat-icon class="tab-icon">text_format</mat-icon>
    </ng-template>
    <!-- Mat tab content -->
    <!-- TODO: Move this div to the HTML of another Component -->
    <div id="topics-text-format">
      <table>
        <tr>
          <th>Núm. topic</th>
          <th>Keywords</th>
          <th></th>
        </tr>
        <tr *ngFor="let topic of topics">
          <td>{{topic.topic}}</td>
          <td>
            <!-- TODO: keyword.name should have a different style, for example, bold -->
            <span *ngFor="let keyword of topic.keywords">
          {{keyword.name}}: {{keyword.probability | percent:'1.2'}}
        </span>
          </td>
          <td>
            <!-- TODO: Wrapp the icon in a button tag -->
            <!-- TODO: Change the i by <mat-icon> and remove the class attribute. The tooltip must be moved to the button. -->
            <!-- Document icon -->
            <!-- When the mouse hovers the document icon, a tooltip explains how to use it -->
            <i #documentTooltip="matTooltip" (click)="getTopicDocuments(topic.topic)"
               (mouseenter)="documentTooltip.show()"
               (mouseleave)="documentTooltip.hide()"
               class="material-icons"
               id="document-icon-topic{{topic.topic}}"
               matTooltip="Click to show the most representative documents of topic {{topic.topic}}"
               matTooltipPosition="left">description
            </i>
          </td>
          <!-- TODO: When clicked, the page should move the user to the place where the documents will appear -->
        </tr>
      </table>
    </div>
  </mat-tab>

  <!-- Tab 2 -->
  <mat-tab>
    <!-- Mat tab header content -->
    <ng-template mat-tab-label>
      <h3>Nube de palabras</h3>
      <mat-icon class="tab-icon">cloud</mat-icon>
    </ng-template>
    <!-- Mat tab content -->
    <!-- TODO: Don't show the images when they are loading -->
    <!-- TODO: Move this div to the HTML of another Component -->
    <div id="topics-wordcloud-format">
      <!-- TODO: Number of cols must adapt to the screen size -->
      <mat-grid-list cols="4">
        <mat-grid-tile *ngFor="let topicImageUrl of topicImageUrls">
          <img [src]="topicImageUrl.image_url" alt="Topic{{topicImageUrl.topic}} wordcloud image"
               class="topic-wordcloud-image">
          <mat-grid-tile-footer>
            <button (click)="getTopicDocuments(topicImageUrl.topic)" class="topic-wordcloud-image-footer-button"
                    color="primary"
                    mat-raised-button>
              Documentos más representativos
            </button>
          </mat-grid-tile-footer>
        </mat-grid-tile>
      </mat-grid-list>
    </div>
  </mat-tab>
</mat-tab-group>

<div id="configuration-section">
  <h3>Configuración</h3>
  <div>
    Número de keywords (formato texto):
    <mat-slider #sliderNumKeywordsTextFormat [value]="numKeywordsTextFormat" color="primary" max="30" min="1"
                thumbLabel></mat-slider>
  </div>

  <div>
    Número de keywords (formato nube de palabras):
    <mat-slider #sliderNumKeywordsWordcloudFormat [value]="numKeywordsWordcloudFormat" color="primary" max="100" min="1"
                thumbLabel></mat-slider>
  </div>

  <div>
    Número de documentos (documentos más representativos de un topic):
    <mat-slider #sliderNumTopicDocuments [value]="numTopicDocuments" color="primary" max="30" min="1"
                thumbLabel></mat-slider>
  </div>

  <button (click)="updateVariablesAndRefreshTopics(sliderNumKeywordsTextFormat.value,
                                                   sliderNumKeywordsWordcloudFormat.value,
                                                   sliderNumTopicDocuments.value)" color="primary"
          mat-raised-button>
    Actualizar
  </button>
</div>

<!-- TODO: If the X button is pressed, topicDocuments = null -->
<!-- TODO: Show a mat-progress-spinner when loading the documents -->
<div *ngIf="topicDocuments">
  <mat-card>
    <mat-card-header>
      <mat-card-title>Documentos más representativos del topic {{selectedTopicId}}</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <mat-accordion>
        <mat-expansion-panel *ngFor="let topicDocument of topicDocuments">
          <mat-expansion-panel-header>
            <mat-panel-title>
              {{topicDocument.doc_content_summary | slice:0:topicDocumentSummaryMaxLength}}
              {{topicDocument.doc_content_summary.length > topicDocumentSummaryMaxLength ? '...' : ''}}
            </mat-panel-title>
            <mat-panel-description>
              Probabilidad: {{topicDocument.doc_topic_prob | percent:'1.2'}}
            </mat-panel-description>
          </mat-expansion-panel-header>
          <pre>
            {{topicDocument.doc_content}}
          </pre>
        </mat-expansion-panel>
      </mat-accordion>
    </mat-card-content>
  </mat-card>
</div>
