<h2>{{sectionName}}</h2>

<div>
  <h3>Topics en formato texto</h3>
  <table>
    <tr>
      <th>Núm. topic</th>
      <th>Keywords</th>
      <th></th>
    </tr>
    <tr *ngFor="let topic of topics">
      <td>{{topic.topic}}</td>
      <td>
        <span *ngFor="let keyword of topic.keywords">
          {{keyword.name}}: {{keyword.probability | percent:'1.2'}}
        </span>
      </td>
      <td>
        <!-- Document icon -->
        <!-- When the mouse hovers the document icon, a tooltip explains how to use it -->
        <i #documentTooltip="matTooltip" (click)="getTopicDocuments(topic.topic)"
           id="document-icon-topic{{topic.topic}}"
           (mouseenter)="documentTooltip.show()"
           (mouseleave)="documentTooltip.hide()"
           class="material-icons" matTooltip="Click to show the most representative documents of topic {{topic.topic}}"
           matTooltipPosition="left">description</i>
      </td>
    </tr>
  </table>
</div>

<div>
  <h3>Topics en formato nube de palabras</h3>
  <img *ngFor="let topicImageUrl of topicImageUrls"
       [src]="topicImageUrl.image_url" alt="Topic{{topicImageUrl.topic}} wordcloud image" class="topic-wordcloud-image">
</div>

<div id="configuration-section">
  <h3>Configuración</h3>
  <div>
    Número de keywords (formato texto):
    <mat-slider #sliderNumKeywordsTextFormat [value]="numKeywordsTextFormat" color="primary" max="30" min="1"
                thumbLabel></mat-slider>
  </div>

  <div>
    Número de keywords (formato nube de palabras):
    <mat-slider #sliderNumKeywordsWordcloudFormat [value]="numKeywordsWordcloudFormat" color="primary" max="100" min="1"
                thumbLabel></mat-slider>
  </div>

  <div>
    Número de documentos (documentos más representativos de un topic):
    <mat-slider #sliderNumTopicDocuments [value]="numTopicDocuments" color="primary" max="30" min="1"
                thumbLabel></mat-slider>
  </div>

  <button (click)="updateVariablesAndRefreshTopics(sliderNumKeywordsTextFormat.value,
                                                   sliderNumKeywordsWordcloudFormat.value,
                                                   sliderNumTopicDocuments.value)" color="primary"
          mat-raised-button>
    Actualizar
  </button>
</div>
